{% extends 'base.html' %}
{% block content %}
    <div class="p_h container-fluid">
        <div class="cover-page">
            <img src="{{ community.cover.url }}">
        </div>

        <div class="info-community">
            <h2>{{ community.name }}</h2>
            <div class="row">
                <div class="bio col-sm-6">
                    <h4>Bio</h4>
                    <span>{{ community.bio }}</span>
                </div>
            </div>
            <br>
        </div>
    </div>

    <div class="container">
        <div class="row row-cols-1 row-cols-md-2">

            <div class="col-md-4">
                <div class="container">
                    <div class="linkers row row-cols-1">
                        <div class="col">
                            <h5>Admins</h5>
                            <div class="members row">
                                {% for admin in community.admins.all %}
                                <a href="{% url 'profile' admin.username %}">
                                    <img src="{{ admin.profile.picture.url }}" class="col">
                                    <h6>{{ admin.first_name }} {{ admin.last_name }}</h6>
                                </a>
                                {% endfor %}
                            </div>
                            <a class="btn-post" href="#">More</a>

                        </div>

                        <div class="col">
                            <h5>Members</h5>
                            <div class="members row">
                                {% for member in community.members.all %}
                                <a href="{% url 'profile' member.username %}">
                                    <img src="{{ member.profile.picture.url }}" class="col">
                                    <h6>{{ member.first_name }} {{ member.last_name }}</h6>
                                </a>
                                {% endfor %}
                            </div>
                        </div>


                    </div>
                </div>
            </div>

            <div  class="col container">
                <div class="row row-cols-1">
                    <div id="community" data-key="{{ community.pk }}">{% include 'create_post.html' %}</div>


                    <div id="co_s_t">
                        <div>
                            <form class="form-inline">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                              </form>
                        </div>
                        <div class="swiper-container swiper-tags">
                            <div class="swiper-wrapper">
                              <div class="swiper-slide">
                                  <a href="#">#fss</a>
                              </div>
                              <div class="swiper-slide">
                                <a href="#">#fss</a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#">#fss</a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#">#fss</a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#">#fss</a>
                            </div>

                            </div>

                            <!-- Add Arrows -->
                            <div class="btn swiper-button swiper-button-next"></div>
                            <div class="btn swiper-button swiper-button-prev"></div>
                        </div>
                    </div>

                    <div id="time-line">
                        {% for post in posts %}
                            <div class="post">{% include 'post-box.html' %}</div>
                        {% endfor %}
                        {% if posts.has_next %}
                            <div class="post">اعلان</div>
                        {% endif %}
                    </div>
                    {% if posts.has_next %}
                        <a class="page-more-link" style="display: none" href="?page={{ posts.next_page_number }}">More</a>
                    {% endif %}
                    <div class="loading" style="display: none;">Loading...</div>
                    <div class="get-more-posts" style="display: none" >
                        <a class="nav-link" href="">Get more update</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}