body{
    background-color: #e9ebee;
    overflow-wrap: break-word;
}
a{
    outline: none;
}
a:hover{
    text-decoration: unset;

}
textarea{
    overflow: hidden;
    resize: none;
}


.loading{
    background-color: white;
    position: relative;
    bottom: 166px;
}


/* login page */

.log{
    padding: 18% 0%;
}


.login-form{
    padding: 30px;
}
.tx{
    text-align: center;
}

.form-group input{
    display: block;
     width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}









/*  NavBar */

.navbar-dark .navbar-nav .nav-link{
    color: #fff;
}

.navbar form input{
    flex: 1;
}

.bg-nav{
    background-color: #264380;
}

.navbar .dropdown-item:hover{
    background-color: #40a8f1   ;
}

.navbar .btn {
    color: #fff;
}


.navbar .btn-s-i:hover{
    background-color: #40a8f1   ;
}

.dropdown .btn{
    padding: 0;
}
.dropdown .btn i{
    font-size: 20pt;
}












#home-body{
    margin-top: 50px;
}

/* Time Line */
#time-line{
    margin-top: 25px;
    margin-bottom: 200px;
}
.create-post {
    background-color: #fff;
    border-radius: 3px;
    z-index: 2222;
}
._hp{
    background-color: #e9ebee;
    padding: 14px 0px 12px 11px;
}
._bp{
    padding: 10px 6px 20px 16px;
}
.fm{
    position: relative;
    z-index: 311 !important;
    left: 0;
    top: 0;
    overflow: auto;
    border: 1px solid #7d7d7d94;
}
.op{
    background: #000;
    bottom: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity .3s, bottom 0s .3s;
    z-index: 310;
}
.op1{
    bottom: 0%;
    opacity: 0.6;
    transition: opacity .3s;
}
.create-post textarea{
    width: 100%;
    border: 0;
    padding: 0px;
    margin: 0px;
    resize: none;
    outline: none;
}
.btn-post{
    width: 100%;
    color: black;
    border: 0;
    padding: 6px;
    color: black;
    background-color: #b3d7ff;
    border-radius: 6px;
    margin: 0;

}
.btn-post:hover{
    color: #fff;
    background: #40a8f1;

}

.post{
    margin-bottom: 25px;
}
.post-body{
    background-color: #fff;
    border-radius: 3px ;
    padding: 18px;
    width: 660px;
}
.publisher img{
    width: 80px;
    height: 45px;
    border-radius: 100%;
}
.since{
    position: relative;
    left: 87px;
    top: -13px;
    font-size: 1px;
    font-weight: 500;
    color: #000000d1;
}
.post-content{
    padding: 10px 7px 0px 16px;
    overflow: hidden;
}
.post-content p{
    margin-bottom: 0px;
    text-align: justify;
}
.load-more{
    text-align: center;
}
.load-more a::after {
    content: "\27F1";
    font-size: 26px;
    color: #000;
    position: relative;
    display: block;
    margin-top: -14px;
}


._ip ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    
}


._ip ul a{
    background: #e9ebee;
    color: unset;
    padding: 9px;
    margin-left: 5px;
    overflow-wrap: break-word;
    border-radius: 5px;
}
._ip ul a:hover{
    background-color: #bcc0c5;
}
._ip .active {
    background-color: #56a7ff;
    color: #fff;
}
._ip .active:hover{
    background-color: #56a7ff;
}



.creat_comment img{
    width: 70px;
    height: 40px;
    border-radius: 100%;

}

.comment_content{
    width: 90%;
    outline: none;
    background-color: #e9ebee;
    padding: 0px 6px;
    margin: 0px;
    border: 1px solid #ccd0d5;
    border-radius: 16px;
    justify-content: flex-end;
}



.comments-area{
    margin-top: 21px;
    max-height: 510px;
    overflow: auto;
}
.comments-area::-webkit-scrollbar{
    width: 10px;
    max-height: 20px;
}
.comments-area::-webkit-scrollbar-track{
    background-color: #fff;
}
.comments-area::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
.comments-area .btn-post{
    max-height: 40px;
    left: 5px;
    top: 5px;
    outline: none;
    position: relative;
}
.comment{
    width: fit-content;
}

.u_c{
    display: flex;
    width: fit-content;
    padding:  0;
    padding-right: 10px;
}

.u_c img{
    width: 65px;
    height: 35px;
    border-radius: 100%;
}

.u_c .rp {
    width: fit-content;
    padding: 6px 14px;
    overflow-wrap: break-word;
    background: #e9ebee;
    border-radius: 15px;

}

.pm{
    position: -webkit-sticky;
    position: sticky;
    top: 58px;
    z-index: 33;
}

.comment-form{
    display: flex;
}
.comment-form input{
    width: unset;
    background-color: unset;
    color: black;
    border: 1px solid grey;
}
.comment-form input:hover{
    background-color: #40a8f1;
    color: #fff;

}




.get-more-posts{
    text-align: center;
    margin: 22px 0px;

}
.get-more-posts a{
    transition: all 0.25s ease;
    background: #adb5bd5e;
    position: relative;
    bottom: 166px;
}
.get-more-posts a:hover{
    background-color: #393e46;
    color: #fff;
    font-size: 18pt;
    transition: all 0.25s ease;
}







/* left sideBar */

#left-side{
    position: relative;
    margin-bottom: 21px;  
    
}

.info-side {
    position: -webkit-sticky;
    position: sticky;
    top: 65px;
    background-color: #fff;
    border-radius: 3px;
    overflow: hidden;  
    padding: 15px 1px 17px 1px;
}

.user{
    text-align: center;
}
.user img{
    width: 120px;
    height: 100px;
    border-radius: 100%;
    position: relative;
}

.user span{
    font-size: 20pt;
    position: relative;
}






/* profile page */

.follow-btn{
    outline: none;
    background-color: white;
    color: #000;
    border: 1px solid #464545;
}

.p_h{
    justify-content: center;
    text-align: center;
    background-color: white;
    margin-bottom: 33px;
    box-shadow: 1px 1px 8px 1px #929292;
    border-radius: 3px;
}
.cover-page {
    width: 100%;
    height: 300px;
    overflow: hidden;
 
}
.cover-page img{
    width: 100%;
    height: 100%;
    position: relative;
    
}


.user-p{
    width: 300px;
    height: 300px;
    border: 2px solid #fff;
    margin: auto;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
    top: -99px;
    padding: 0;
    
}

.user-p img {
    width: 100%;
    height: 100%;
    
}

.info-user{
    padding: 12px;
    position: relative;
    top: -93px;
}
.bio{
    margin: auto;
    position: relative;
    white-space: inherit;
    overflow-wrap: break-word;
}



.career h6{
    font-weight: unset;
}
.career span{
    font-weight: 600;
}









/* uni page */
.right-bar{
    order: 1;
}
.linkers{
    background-color: #fff;
    border-radius: 3px;
    padding: 10px;
    box-shadow: 0px 1px 8px 2px grey;
    text-align: center;
    margin-bottom: 40px;
}
.linkers div {
    margin-bottom: 28px;
    justify-content: space-evenly;
}

.linkers h5{
    background-color: #e9ebee;
    border-radius: 3px;
    padding: 11px;
    color: #264380;
}
.linkers img{
    width: 80px;
    border-radius: 100%;

}







/* community page */

.info-community{
    margin-top: 20px;
}

#co_s_t{
    margin-top: 40px;
}
#co_s_t input{
    flex: 1;
}

.swiper-tags{
    margin: 10px;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0px 1px 5px 1px grey;
}