html{
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: 10px;
    max-height: 20px;
}
html::-webkit-scrollbar-track{
    background-color: #fff;
}
html::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
body{
    background-color: #e9ebee;
    overflow-wrap: break-word;
}
a{
    outline: none;
    text-decoration:none;
}
a:hover{
    text-decoration: none;

}
textarea{
    overflow: hidden;
    resize: none;
}
span{
    display: inline-block;
}


/* login page */

.log{
    margin-top: 12%;
}


.login-form{
    padding: 30px;
}
.tx{
    text-align: center;
}

.form-group input{
    display: block;
     width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.form-group .btn:hover{
    background-color: #007cffd9;
    color: #fff;

}
ul.errorlist{
    list-style: none;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}



/*  NavBar */


.navbar form input{
    flex: 1;
}

.dropdown .btn{
    padding: 0;
}
.dropdown .btn i{
    font-size: 20pt;
}

.navbar-nav .dropdown-menu{
    position: absolute;
    left: -73px;

}


/* Time Line */
#time-line{
    margin-top: 25px;

}
#post-m{
    width: 660px;
}
.create-post {
    background-color: #fff;
    border-radius: 3px;
    z-index: 2222;
}
._hp{
    background-color: #e9ebee;
    padding: 14px 0px 12px 11px;
}
._bp{
    padding: 10px 6px 20px 16px;
}
.fm{
    position: relative;
    z-index: 311 !important;
    left: 0;
    top: 0;
    border: 1px solid #a2a2a26e;
    border-radius: 5px;
}
.op{
    background: #000;
    bottom: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity .3s, bottom 0s .3s;
    z-index: 310;
}
.op1{
    bottom: 0%;
    opacity: 0.6;
    transition: opacity .3s;
}
.create-post textarea{
    width: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    resize: none;
    outline: none;
}
.btn-post{
    color: black;
    border: 0;
    padding: 6px;
    background-color: #e9ebee;
    border-radius: 6px;
    margin: 0;

}
.btn-post:hover{
    color: #fff;
    background: #40a8f1;

}

.post{
    margin-bottom: 25px;
}
.post-body{
    background-color: #fff;
    border-radius: 3px ;
    padding: 18px;
    width: 500px;
}
.publisher img{
    width: 80px;
    height: 45px;
    border-radius: 100%;
}
.online{
    height: 13px;
    width: 13px;
    background-color: #00ff1a;
    border-radius: 50%;
    display: inline-block
}
.since{
    position: relative;
    left: 87px;
    top: -13px;
    font-size: 1px;
    font-weight: 500;
    color: #000000d1;
}
.post-content{
    padding: 10px 7px 0px 16px;
    overflow: hidden;
}
.post-image{
    overflow: hidden;
    max-width: 500px;
    max-height: 500px;
    margin-top: 10px;
}
.post-image img{
    width: 100%;

}
.post-content p{
    margin-bottom: 0px;
    text-align: justify;
}
.load-more{
    text-align: center;
}
.load-more a::after {
    content: "\27F1";
    font-size: 26px;
    color: #000;
    position: relative;
    display: block;
    margin-top: -14px;
}


._ip ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    
}


._ip ul a{
    background: #e9ebee;
    color: unset;
    padding: 9px;
    margin-left: 5px;
    overflow-wrap: break-word;
    border-radius: 5px;
}
._ip ul a:hover{
    background-color: #bcc0c5;
}
._ip .active {
    background-color: #56a7ff;
    color: #fff;
}
._ip .active:hover{
    background-color: #56a7ff;
}



.creat_comment img{
    width: 70px;
    height: 40px;
    border-radius: 100%;

}

.comment_content{
    width: 90%;
    outline: none;
    background-color: #e9ebee;
    padding: 0px 6px;
    margin: 0px;
    border: 1px solid #ccd0d5;
    border-radius: 16px;
    justify-content: flex-end;
}



.comments-area{
    margin-top: 21px;
    max-height: 510px;
    overflow: auto;
}
.comments-area::-webkit-scrollbar{
    width: 10px;
    max-height: 20px;
}
.comments-area::-webkit-scrollbar-track{
    background-color: #fff;
}
.comments-area::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
.comments-area .btn-post{
    max-height: 40px;
    left: 5px;
    top: 5px;
    outline: none;
    position: relative;
}
.comment{
    width: fit-content;
}

.u_c{
    display: flex;
    width: fit-content;
    padding:  0;
    padding-right: 10px;
}

.u_c img{
    width: 65px;
    height: 35px;
    border-radius: 100%;
}

.u_c .rp {
    width: fit-content;
    padding: 6px 14px;
    overflow-wrap: anywhere;
    background: #e9ebee;
    border-radius: 15px;

}

.pm{
    position: -webkit-sticky;
    position: sticky;
    top: 58px;
    z-index: 33;
}


.hash-tag {
    font-weight: bold;
    color: #0090ff;
}



.comment-form{
    display: flex;
}
.comment-form input{
    width: unset;
    background-color: unset;
    color: black;
    border: 1px solid grey;
}
.comment-form input:hover{
    background-color: #40a8f1;
    color: #fff;

}




.get-more-posts{
    text-align: center;
    margin: 22px 0px;

}
.get-more-posts a{
    transition: all 0.25s ease;
    background: #adb5bd5e;
    position: relative;

}
.get-more-posts a:hover{
    background-color: #393e46;
    color: #fff;
    font-size: 18pt;
    transition: all 0.25s ease;
}







/* left sideBar */

#left-side{
    position: relative;
    margin-bottom: 21px;  
    
}

.info-side {
    position: -webkit-sticky;
    position: sticky;
    top: 65px;
    background-color: #fff;
    border-radius: 3px;
    overflow: hidden;  
    padding: 15px 1px 17px 1px;
}

.user{
    text-align: center;
}
.user img{
    width: 120px;
    height: 100px;
    border-radius: 100%;
    position: relative;
}

.user span{
    font-size: 20pt;
    position: relative;
}






/* profile page */
.p_h{
    justify-content: center;
    text-align: center;
    background-color: white;
    margin-bottom: 33px;
    box-shadow: 1px 1px 8px 1px #929292;
    border-radius: 3px;
}
.cover-page {
    width: 100%;
    height: 300px;
    overflow: hidden;
 
}
.cover-page img{
    width: 100%;
    height: 100%;
    position: relative;
    
}


.user-p{
    width: 300px;
    height: 300px;
    border: 2px solid #fff;
    margin: auto;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
    top: -99px;
    padding: 0;
    
}

.user-p img {
    width: 100%;
    height: 100%;
    
}

.info-user{
    padding: 12px;
    position: relative;
    top: -93px;
}
.bio{
    margin: auto;
    position: relative;
    white-space: inherit;
    overflow-wrap: break-word;
}



.career h6{
    font-weight: unset;
}
.career span{
    font-weight: 600;
}

.photos{
    background-color: #fff;
    padding: 0px 4px 9px;
    border-radius: 3px;
}
.photos img{
    width: 100px;
    height: 100px;
    border: 1px solid #fff;
}


/*profile edit page */

.e-form textarea{
    width: 100%;
    text-align: center;
    outline: none;
    border: 1px solid rgba(119, 116, 116, 0.42);
    border-radius: 5px;
}





/* uni page */
.right-bar{
    order: 1;
}
.linkers{
    background-color: #fff;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    margin-bottom: 40px;
}
.linkers div {
    margin-bottom: 28px;
    justify-content: space-evenly;
}

.linkers h5{
    background-color: #e9ebee;
    border-radius: 3px;
    padding: 11px;
    color: #264380;
}
.linkers img{
    width: 80px;
    height: 45px;
    border-radius: 100%;

}





/* community page */

.info-community{
    margin-top: 20px;
}

#co_s_t{
    margin-top: 40px;
}
#co_s_t input{
    flex: 1;
}

.swiper-tags{
    margin: 10px;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 3px;
}
.swiper-button{
    background: #e9ebee;
    border-radius: 39px;
    width: 51px;
    height: 52px;
    box-shadow: 0px 0px 2px 1px #0000007d;
}
.swiper-button-prev{
    left: 1px;
    top: 29px;
}
.swiper-button-next{
    top: 29px;
    right: 2px;
}
.swiper-button-disabled{
    display: none;
}
.swiper-button-next:after, .swiper-button-prev:after{
    font-size: 33px;
    font-weight: bolder;

}



/* search page */

.l-s{
    top: 80px;
    background-color: #fff;
    margin: 0px 0px 11px 5px;
    font-size: 25px;
    padding: 14px;
    max-width: 500px;
    z-index: unset;
}
.searched-accounts{
    max-width: 500px;
    background: #fff;
    padding: 10px 0px 1px 0px;
    margin-bottom: 15px;
}
.searched-accounts ul{
    padding: 0;
    list-style: none;
}
.searched-accounts img{
    height: 70px;
    width: 103px;
    border-radius: 100%;
}
.searched-accounts .btn{
    position: relative;
    top: 15px;
}





@media (min-width: 768px) and (max-width: 991.98px) {
    .info-side{
        top: 120px;
    }
    .l-s{
        top: 120px;
    }
}