{% extends "base_generic.html" %}

{% block content %}
    <div class="container">
             <div class="container log">
                 <div class="login-form  bg-light m-auto mt-5 col-md-6">
                    {% if validlink %}
                        <p>Please enter (and confirm) your new password.</p>
                        <form action="" method="post" class="form-group">
                        {% csrf_token %}
                            {{ form.new_password1.errors }}
                            <label for="id_new_password1">New password:</label>
                            {{ form.new_password1 }}
                            {{ form.new_password2.errors }}
                            <label for="id_new_password2">Confirm password:</label>
                            {{ form.new_password2 }}

                            <input type="submit" value="Change my password" />
                        </form>
                    {% else %}
                        <h1>Password reset failed</h1>
                        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
                    {% endif %}
                 </div>
             </div>
{% endblock %}