{% extends "base_generic.html" %}
{% load static %}
        {% block content %}

            <div class="container">
                <div class="container log">
                    <div class="login-form  bg-light m-auto mt-5 col-md-6">
                        {% if form.errors %}
                            {{ form.errors }}
                        {% endif %}
                        <form method="POST" class="form-group">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <label for="{{ form.first_name.id_for_label }}">First Name</label>
                                    {{form.first_name}}
                                    {{ form.first_name.errors }}
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="{{ form.last_name.id_for_label }}">Last Name</label>
                                    {{form.last_name}}
                                    {{ form.lasr_name.errors }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="{{ form.email.id_for_label }}">Email</label>
                                {{form.email}}
                                {{ form.email.errors }}
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-3">
                                    <label for="{{ form.gender.id_for_label }}">Gender</label>
                                    {{ form.gender }}
                                    {{ form.gender.errors }}
                                </div>
                                {{ form.birthday }}
                                <div class="form-row col-sm">
                                    <div class="form-group col-sm-4">
                                        <label for="inputDay">Day</label>
                                        <select id="inputDay" class="form-control"></select>
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label for="inputMonth">Month</label>
                                        <select id="inputMonth" class="form-control"></select>
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label for="inputYear">Year</label>
                                        <select id="inputYear" class="form-control"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="{{ form.password1.id_for_label}}">Password</label>
                                {{form.password1}}
                                {{ form.password1.errors }}
                                {{ form.password1.help_text }}
                            </div>
                            <div class="form-group">
                                <label for="{{ form.password2.id_for_label }}">Password confirmation</label>
                                {{form.password2}}
                                {{ form.password2.errors }}
                            </div>
                            <hr>
                            <input class="btn" type="submit" value="Sign up">
                        </form>

                    </div>
                </div>
            </div>
            <script type="text/javascript" src="{% static 'js/sign_up.js' %}"></script>
        {% endblock %}