{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row row-cols-md-2">
            <div class="col-md-4 container">
                <div class="sticky-top l-s">
                    <span>All result for</span>
                    <span style="font-weight: bold; color: #007bff">{{ query }}</span>
                    <br>
                    <hr>
                    {% if count < 999 %}
                        <span>{{ count }}</span>
                        <span>Post are talking about this</span>
                    {% else %}
                        <span>1K</span>
                        <span>Post are talking about this</span>
                    {% endif %}
                </div>
            </div>
            <br>
            <div class="col container">
                <div class="row row-cols-1">

                    {% if posts %}
                        <div id="time-line" class="container">
                            {% for post in posts %}
                                {% include 'post-box.html' %}
                            {% endfor %}
                            <br>
                        </div>
                        {% if posts.has_next %}
                            <a class="page-more-link" style="display: none" href="?page={{ posts.next_page_number }}">More</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}