{% extends 'base.html' %}
{% load static %}
{% block content %}
        <section class="p_h container-fluid">
            <div class="cover-page">
                <img src="{{ profile.cover.url }}">
            </div>
            <div class="user-p col">
                <img src="{{ profile.picture.url }}">
            </div>


            <div class="info-user">
                <h2>{{ profile.first_name }} {{ profile.last_name }}</h2>
                <div class="row">
                    <div class="bio col-sm-6">
                        <h4>Bio</h4>
                        <span>
                            {{ profile.bio }}
                        </span>
                    </div>
                </div>
                <br>
                <div class="row row-cols-2 offset-md-1">
                    <div class="career col  row-cols-12 ">
                        <div class="col" >
                            <h6>University: <span><a href="#">{{ profile.university }}</a></span></h6>
                        </div>
                        <div class="col" >
                            <h6>Faculty: <span><a href="#">{{ profile.faculty }}</a></span></h6>
                        </div>
                        <div class="col" >
                            <h6>Level: <span>{{profile.level}}</span></h6>
                        </div>
                        <div class="col" >
                            <h6>Nationality: <span>{{ profile.nationality }}</span></h6>
                        </div>
                        <div class="col" >
                            <h6>Location: <span>{{ profile.location }}</span></h6>
                        </div>
                    </div>
                    <div class="career col row-cols-12">
                        <div class="col" >
                            <h6>Flowers: <span><a href="#">100+</a></span></h6>
                            <h6>Flowing: <span><a href="#">100+</a></span></h6>

                        </div>
                    </div>
                </div>



            </div>
        </section>

        <section id="posts-list" class="container">
            <div class="row row-cols-1">
                {% if user == profile %}
                    {% include 'create_post.html' %}
                {% endif %}
                <div id="time-line" class="infinite-container">
                    {% for post in posts %}
                        <div class="infinite-item">
                            {% include 'post-box.html' %}
                        </div>
                    {% endfor %}
                </div>
                {% if posts.has_next %}
                    <a class="infinite-more-link" href="?page={{ posts.next_page_number }}">More</a>
                {% endif %}
                <div class="loading" style="display: none;">Loading...</div>
            </div>
        </section>

    <script>
        var infinite = new Waypoint.Infinite({
          element: $('.infinite-container')[0],
          onBeforePageLoad: function () {
            $('.loading').show();
            $(".infinite-more-link").hide()
            $('textarea').autoResize();
          },
          onAfterPageLoad: function ($items) {
              $(".infinite-more-link").show()
              $('.loading').hide();
              $('textarea').autoResize();

             function ss(){
                var i, x = document.querySelectorAll(".post-body");

                for (i=0 ; i < x.length; i++){

                    $.ajax({
                        url: 'posts/count_views',
                        data: {
                            id: $(x[i]).attr("data-key"),
                        },
                        success: function (data) {


                        }
                    })
                }
             }
             ss()
          }
        });
    </script>



{% endblock %}