{% extends 'base.html' %}
{% load static %}
{% block content %}
        <section class="p_h container-fluid">
            <div class="cover-page">
                <img src="{{ profile.cover.url }}">
            </div>
            <div class="user-p col">
                <img src="{{ profile.picture.url }}">
            </div>



            <div class="info-user">

                <h2>{{ profile.first_name }} {{ profile.last_name }}</h2>
                {% if request.user.is_authenticated %}
                {% if user != profile %}
                <span>
                    {% if request.user in profile.followers.all %}
                        <input class="btn btn-primary follow-btn" data-key="{{ profile.id }}" type="submit" value="Unfollow">
                        {% else %}
                        <input class="btn btn-primary follow-btn" data-key="{{ profile.id }}" type="submit" value="Follow">
                    {% endif %}
                </span>
                {% endif %}
                {% endif %}
                <div class="row">
                    <div class="bio col-sm-6">
                        <h4>Bio</h4>
                        <span>
                            {{ profile.bio }}
                        </span>
                    </div>
                </div>
                <br>
                <div class="container">
                    <div class="row row-cols-2 offset-md-1">
                    <div class="career col  row-cols-12 ">
                        <div class="col" >
                            <h6>University: <span><a href="#">{{ profile.university }}</a></span></h6>
                        </div>
                        <div class="col" >
                            <h6>Faculty: <span><a href="#">{{ profile.faculty }}</a></span></h6>
                        </div>
                        <div class="col" >
                            <h6>Level: <span>{{profile.level}}</span></h6>
                        </div>
                        <div class="col" >
                            <h6>Nationality: <span>{{ profile.nationality }}</span></h6>
                        </div>
                        <div class="col" >
                            <h6>Location: <span>{{ profile.location }}</span></h6>
                        </div>
                    </div>
                    <div class="career col row-cols-12">
                        <div class="col" >
                            <h6>Followers: <span><a href="#">{{ profile.followers.count }}</a></span></h6>
                            <h6>Following: <span><a href="#">{{ profile.following.count }}</a></span></h6>

                        </div>
                    </div>
                </div>
                </div>
            </div>
        </section>

        <section id="posts-list" class="container">
            <div class="row row-cols-1">
                {% if user == profile %}
                    {% include 'create_post.html' %}
                {% endif %}
                <div id="time-line">
                        {% for post in posts %}
                            {% include 'post-box.html' %}
                        {% endfor %}
                </div>
                {% if posts.has_next %}
                    <a class="page-more-link" style="display: none" href="?page={{ posts.next_page_number }}">More</a>
                    <div class="loading" style="display: none;">Loading...</div>
                {% endif %}

            </div>
        </section>





{% endblock %}