{% if request.user.is_authenticated %}
<div id="post-m" class="col container">
    <div id="ov" class="op"></div>
    <div class="fm create-post">
        <div class="_hp">Creat Post</div>
            <div class="_bp">
                <form id="creat_post" action="" method="POST"> {% csrf_token %}
                        <textarea dir=auto role="textbox" contenteditable id="post" placeholder="what's on your mind" name="post"></textarea>
                    <input class="btn-post" type="submit" value="Post">
                </form>
            </div>
        </div>
    </div>
</div>


{% endif %}