{% if request.user.is_authenticated %}

    <div id="post-m" class="col container">
        <div id="ov" class="op"></div>
        <div class="fm create-post">
            <div class="_hp">Creat Post</div>
            <div class="_bp">
                <form id="creat_post" action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <textarea dir=auto role="textbox" maxlength="500" contenteditable id="post" placeholder="what's on your mind" name="post"></textarea>

                    <div class="mb-2">
                        <img style="width: 100%;max-height: 500px; display: none;" id="ss" src="" alt="photo">
                    </div>
                    <div style="text-align: end">
                        <label id="add-photo" for="id_image" class="btn btn-outline-dark"><i class="icofont-ui-image"> Add Photo</i></label>
                        <input type="file" name="image" accept="image/*" id="id_image" style="display: none">
                    </div>

                    <div class="d-flex" style="justify-content: space-between;">
                        <input id="post-submit" class="btn-post" type="submit" value="Post">
                        <div class="progress-post" style="display: none;">
                            <div class="spinner-grow" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                        <span id="post-count" style="color: #a0a0a0e8">0/500</span>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <script>
        function readURL(input) {
          if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
              $('#ss').attr('src', e.target.result);

            }
            reader.readAsDataURL(input.files[0]);
          }
        }

        $('#id_image').change(function() {
          readURL(this);
          $("#ss").show()
        });
    </script>



{% endif %}