{% load humanize %}
    <div class="notes" style="margin-top:20px;">
        {% if notifications %}
            {% for note in notifications %}
                {% if note.readable == True %}
                    <div class="note" style="border-block-end: 1px solid;margin-bottom: 2px; border-color: #e9ebee">
                        <ul style="list-style: none; padding: 0">
                            {% if note.post %}
                                <li style="align-items: center;" class="m-auto row row-cols-2">
                                    <div class="col-2" style="color: unset">
                                        <a href="{% url 'view_post' note.post.id %}">
                                            <img style="width: 55px;height: 55px;border-radius: 100%;" src="{{ note.sender.profile.picture.url }}">
                                        </a>
                                    </div>
                                    <a class="col-10" href="{% url 'view_post' note.post.id %}" style="color: #1b1e21">
                                        <div style="margin-top: 9px;" class="col"><span><strong>{{ note.sender.first_name }} {{ note.sender.last_name }}</strong> {{ note.content }}</span></div>
                                        {% if note.created_at|date:'P' == now|date:'P' %}
                                            <span class="since" style="color: #0b61ffd1;left: 0;margin-top:20px;">Now</span>
                                        {% elif note.created_at|date:'Y' <  now|date:'Y' %}
                                            <span class="since" style="color: #0b61ffd1;left: 0;margin-top:20px;">{{ note.created_at|naturalday }}</span>
                                        {% else %}
                                            <span class="since" style="color: #0b61ffd1;left: 0;margin-top:20px;">{{ note.created_at|naturaltime }}</span>
                                        {% endif %}
                                    </a>
                                </li>

                            {% else %}
                                <li style="align-items: center;" class="m-auto row row-cols-2">
                                    <div class="col-2" style="color: unset">
                                        <a href="{% url 'profile' note.sender.username %}">
                                            <img style="width: 55px;height: 55px;border-radius: 100%;" src="{{ note.sender.profile.picture.url }}">
                                        </a>
                                    </div>
                                    <a class="col-10" href="{% url 'profile' note.sender.username %}" style="color: #1b1e21">
                                        <div style="margin-top: 9px;" class="col"><span><strong>{{ note.sender.first_name }} {{ note.sender.last_name }}</strong> {{ note.content }}</span></div>
                                        {% if note.created_at|date:'P' == now|date:'P' %}
                                            <span class="since" style="color: #0b61ffd1;left: 0;margin-top:20px;">Now</span>
                                        {% elif note.created_at|date:'Y' <  now|date:'Y' %}
                                            <span class="since" style="color: #0b61ffd1;left: 0;margin-top:20px;">{{ note.created_at|naturalday }}</span>
                                        {% else %}
                                            <span class="since" style="color: #0b61ffd1;left: 0;margin-top:20px;">{{ note.created_at|naturaltime }}</span>
                                        {% endif %}
                                    </a>
                                </li>

                            {% endif %}

                        </ul>
                    </div>
                {% else %}
                    <div class="note false" style="background-color: #c0cfe666;border-block-end: 1px solid;margin-bottom: 2px; border-color: #e9ebee">
                        <ul style="list-style: none; padding: 0">
                            {% if note.post %}
                                <li style="align-items: center;" class="m-auto row row-cols-2">
                                    <div class="col-2" style="color: unset">
                                        <a href="{% url 'view_post' note.post.id %}">
                                            <img style="width: 55px;height: 55px;border-radius: 100%;" src="{{ note.sender.profile.picture.url }}">
                                        </a>
                                    </div>
                                    <a class="col-10" href="{% url 'view_post' note.post.id %}" style="color: #1b1e21">
                                        <div style="margin-top: 9px;" class="col"><span><strong>{{ note.sender.first_name }} {{ note.sender.last_name }}</strong> {{ note.content }}</span></div>
                                        {% if note.created_at|date:'P' == now|date:'P' %}
                                            <span class="since" style="color: #0b61ffd1;left: 0;margin-top:20px;">Now</span>
                                        {% elif note.created_at|date:'Y' <  now|date:'Y' %}
                                            <span class="since" style="color: #0b61ffd1;left: 0;margin-top:20px;">{{ note.created_at|naturalday }}</span>
                                        {% else %}
                                            <span class="since" style="color: #0b61ffd1;left: 0;margin-top:20px;">{{ note.created_at|naturaltime }}</span>
                                        {% endif %}
                                    </a>
                                </li>

                            {% else %}
                                <li style="align-items: center;" class="m-auto row row-cols-2">
                                    <div class="col-2" style="color: unset">
                                        <a href="{%  url 'profile' note.sender.username %}">
                                            <img style="width: 55px;height: 55px;border-radius: 100%;" src="{{ note.sender.profile.picture.url }}">
                                        </a>
                                    </div>
                                    <a class="col-10" href="{%  url 'profile' note.sender.username %}" style="color: #1b1e21">
                                        <div style="margin-top: 9px;" class="col"><span><strong>{{ note.sender.first_name }} {{ note.sender.last_name }}</strong> {{ note.content }}</span></div>
                                        {% if note.created_at|date:'P' == now|date:'P' %}
                                            <span class="since" style="color: #0b61ffd1;left: 0;margin-top:20px;">Now</span>
                                        {% elif note.created_at|date:'Y' <  now|date:'Y' %}
                                            <span class="since" style="color: #0b61ffd1;left: 0;margin-top:20px;">{{ note.created_at|naturalday }}</span>
                                        {% else %}
                                            <span class="since" style="color: #0b61ffd1;left: 0;margin-top:20px;">{{ note.created_at|naturaltime }}</span>
                                        {% endif %}
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>