{% load humanize %}
    <div class="post">
        <div data-key="{{ post.id }}" class="post-body col container">
            <div class="row row-cols-1">
                <div class="publisher col">
                    <div style="position: relative;display: grid; grid-auto-flow: column;">
                        <a href="{% url 'profile' post.author.username %}">
                            <img src="{{ post.author.profile.picture.url }}" alt="{{ post.author.username }}" class="col">
                            <span style="color: #385898" >{{ post.author.first_name }} {{ post.author.last_name }}</span>
                        </a>
                        {% if post.author.is_login %}
                                <span class="online" style="position: absolute;top: 27px;left: 55px;"></span>
                        {% endif %}
                        {% if post.author == request.user %}
                            <span style="font-size: xx-large;background-color: unset;display: flex;justify-content: flex-end;" type="button" type="button" id="drop-post-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="post-options icofont-toggle-off"></i>
                            </span>
                            <div class="dropdown-menu" aria-labelledby="drop-post-men">
                                <a class="remove-post dropdown-item" data-key="{{ post.id }}" href="#">Remove</a>
                            </div>
                        {% endif %}

                    </div>
                    {% if post.created_at|date:'P' == now|date:'P' %}
                        <div style="width: fit-content;padding: 0px 87px;">
                            <span class="since" style="color: #007bff">Now</span>
                        </div>
                    {% elif post.created_at|date:'Y' <  now|date:'Y' %}
                        <div style="width: fit-content;padding: 0px 87px;">
                            <span class="since">{{ post.created_at|date:'Y,M,d' }}</span>
                        </div>
                    {% else %}
                        <div style="width: fit-content;padding: 0px 87px;">
                            <span class="since">{{ post.created_at|naturaltime }}</span>
                        </div>
                    {% endif %}

                </div>
                <div class="post-content col">
                    {{ post.content|safe}}
                </div>
                {% if post.image %}
                    <div class="post-image">
                        <div class="modal fade bd-example-modal-lg show" id="post-img-{{ post.id }}">
                            <div class="modal-dialog">
                                    <div class="modal-content" style="background: unset; border: 0;display: unset;top: 50px">
                                        <button type="button" class="close" data-dismiss="modal" style="width: fit-content; position: inherit;left: 0; color: #fff; top: 39px; outline: none;border-radius: 3px;background-color: #000000;padding: 3px 10px 11px;">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <img src="{{ post.image.url }}" class="img-fluid" alt=""/>
                                    </div>
                               </div>
                        </div>
                        <a href="#post-img-{{ post.id }}" data-toggle="modal">
                            <img src="{{ post.image.url }}">
                        </a>
                    </div>
                {% endif %}
                <ul class="stat" style="text-align: end; list-style: none; margin: 0; padding: 0px 5px; font-size: small;">
                    {% if post.comments.count > 0 %}
                        <span>{{ post.comments.count }} comments</span>
                    {% endif %}
                    {% if post.likes.count > 0 %}
                        <span>{{ post.likes.count }} likes</span>
                    {% endif %}
                </ul>
                <hr>
                <div class="_ip col">
                    <ul class="row">
                        {% if request.user in post.likes.all %}
                            <a class="btn col like-btn active">
                                <i class="icofont-like"></i>
                                <span>Like</span>
                            </a>
                            {% else %}
                                <a class="btn col like-btn">
                                    <i class="icofont-like"></i>
                                    <span>Like</span>
                                </a>
                        {% endif %}
                        <a class="btn col comment-btn">
                            <i class="icofont-comment"></i>
                            <span>Comment</span>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </div>


