    <div class="post">
        <div data-key="{{ post.id }}" class="post-body col container">
            <div class="row row-cols-1">
                <div class="publisher col">
                    <div>
                        <a href="{% url 'profile' post.author.username %}">
                            <img src="{{ post.author.picture.url }}" alt="{{ post.author.username }}" class="col">
                            <span style="color: #385898" >{{ post.author.first_name }} {{ post.author.last_name }}</span>
                        </a>
                    </div>
                    {% if post.created_at|date:'P' == now|date:'P' %}
                        <span class="since" style="color: #007bff">Now</span>
                    {% elif post.created_at|date:'Y' <  now|date:'Y' %}
                        <span class="since">{{ post.created_at|date:'Y,M,d' }}</span>
                    {% else %}
                        <span class="since">{{ post.created_at|timesince }} ago</span>
                    {% endif %}
                </div>
                <div class="post-content col">
                    {{ post.content |safe}}

                </div>
                <div class="load-more" style="display: none"><a href="#">There is more</a></div>
                <ul class="stat" style="text-align: end; list-style: none; margin: 0; padding: 0px 5px; font-size: small;">
                    {% if post.comments.count > 0 %}
                        <span>{{ post.comments.count }} comments</span>
                    {% endif %}
                    {% if post.likes.count > 0 %}
                        <span>{{ post.likes.count }} likes</span>
                    {% endif %}
                </ul>
                <hr>

                <div class="_ip col ">
                    <ul class="row">
                        {% if request.user in post.likes.all %}
                            <a class="col like-btn active" href="#"><i class="icofont-like"></i></a>
                            {% else %}
                                <a class="col like-btn" href="#"><i class="icofont-like"></i></a>
                        {% endif %}
                        <a class="col comment-btn" href="#">Comment</a>
                    </ul>
                </div>
            </div>
        </div>

    </div>


