
<ul class="comment col d-flex">
    <li class="u_c col">
        <div>
            <a href="{% url 'profile' comment.author.username%}"><img src="{{ comment.author.profile.picture.url }}" class="col"></a>
        </div>
        <div class="rp col">
            <div><a href="{% url 'profile' comment.author.username %}">{{ comment.author.first_name }} {{ comment.author.last_name }}</a></div>
            <span dir="auto" style="text-align: justify;">{{ comment.content|safe|linebreaks}}</span>
        </div>
    </li>
    {% if comment.author == request.user %}
        <span class="ml-auto" style="max-height: 25px;"  type="button" id="drop-comment-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="icofont-options"></i>
        </span>
        <div class="dropdown-menu" aria-labelledby="drop-comment-men">
            <a class="remove-comment dropdown-item" data-key="{{ comment.id }}" href="#">Remove</a>
        </div>
    {% endif %}
</ul>