{% if request.user.is_authenticated %}
<div class="creat_comment row">
    <a href="{% url 'profile' user.username  %}"><img src="{{user.profile.picture.url }}" class="col" alt="{{ user.username }}"></a>
    <form id="comment_form" action="" method="POST" class= "col comment-form" data-key="{{ post.id }}">
        {% csrf_token %}
        <textarea dir="auto" id="content" class="comment_content" placeholder="Create Comment" ></textarea>
        <input id="post_id" type="hidden" value="{{ post.id }}">
        <input class="btn-post" type="submit" value="Post">
    </form>
</div><br>

{% endif %}


