{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="home-body" class="container">
        <div class="row row-cols-md-2 row-cols-1">
            <section id="left-side" class=" col col-md-4 container-fluid ">
                <div class="info-side row row-cols-1">
                    <div class="user col">
                        <a href="{% url 'profile' user.username %}">
                            <img src="{{ user.picture.url }}" alt="{{ user.username }}"><br>
                            <span>{{ user.user.first_name }} {{ user.user.last_name }}</span>
                        </a>
                    </div>
                </div>
            </section>

            <div class="container">
                <div class="row row-cols-1">

                    {% include 'create_post.html' %}
                    <div id="time-line">
                        {% for post in posts %}
                            <div class="post">{% include 'post-box.html' %}</div>
                        {% endfor %}
                        {% if posts.has_next %}
                            <div class="post">اعلان</div>
                        {% endif %}
                    </div>
                    {% if posts.has_next %}
                        <a class="page-more-link" style="display: none" href="?page={{ posts.next_page_number }}">More</a>
                        <div class="loading" style="display: none;">Loading...</div>
                        <div class="get-more-posts" style="display: none" >
                             <a class="nav-link" href="">Get more update</a>
                         </div>
                    {% endif %}


                </div>
            </div>
        </div>

    </div>


{% endblock %}