{% extends 'base.html' %}
{% block content %}
<div id="home-body" class="container">
            <div class="row row-cols-md-2 row-cols-1">
                <section id="left-side" class=" col col-md-4 container-fluid ">
                    <div class="info-side row row-cols-1">
                        <div class="user col">
                            <img src="img/Riyad.jpg">
                            <span>{{ user.first_name }} {{ user.last_name }}</span>
                        </div>
                    </div>
                </section>

                <section class="container">
                    <div class="row row-cols-1">
                        <div id="post-m" class="col">
                            <div id="ov" class="op"></div>
                            <div class="fm create-post">
                                <div class="_hp">Creat Post</div>
                                <div class="_bp">
                                    <textarea name="post" rows="4" cols="50" placeholder="what's on your mind" id="post"></textarea>
                                    <input class="btn-post" type="submit" value="Post">
                                </div>
                            </div>
                        </div>


                        <div id="time-line">
                            <div class="post-body col container">
                                <div class="row row-cols-1">
                                    <div class="publisher col">
                                        <img src="img/Riyad.jpg" class="col">
                                        <span>UserName</span>
                                    </div>
                                    <div class="post-content col">
                                        <p>
                                            skfniwrhjitj  joi skfniwrhjitj  joi skfniwrhjitj  joi skfniwrhjitj  joi skfniwrhjitj  joi skfniwrhjitj  joi skfniwrhjitj  joi skfniwrhjitj  joi skfniwrhjitj  joi skfniwrhjitj  joi skfniwrhjitj  joi skfniwrhjitj  joi skfniwrhjitj  joi skfniwrhjitj  joi skfniwrhjitj  joi skfniwrhjitj  joi skfniwrhjitj  joi skfniwrhjitj  joi skfniwrhjitj  joi skfniwrhjitj  joi skfniwrhjitj  joi skfniwrhjitj  joi skfniwrhjitj  joi skfniwrhjitj  joi skfniwrhjitj  joi skfniwrhjitj  joi skfniwrhjitj  joi skfniwrhjitj  joi skfniwrhjitj  joi skfniwrhjitj  joi skfniwrhjitj  joi skfniwrhjitj  joi skfniwrhjitj  joi skfniwrhjitj  joi skfniwrhjitj  joi skfniwrhjitj  joi skfniwrhjitj  joi skfniwrhjitj  joi skfniwrhjitj  joi skfniwrhjitj  joi skfniwrhjitj  joi skfniwrhjitj  joi skfniwrhjitj  joi skfniwrhjitj  joi
                                        </p>
                                    </div>
                                    <div class="_ip col ">
                                        <ul class="row row-cols=3">


                                            <a class="col" href="#">Like</a>

                                            <a class="col" href="#">Comment</a>

                                            <a class="col" href="#">Share</a>


                                        </ul>

                                    </div>
                                    <div id="comments-area" class="container">
                                        <div class="cooment col">
                                            <div>
                                                <div class="u_c col">
                                                    <div>
                                                        <a href="#"><img src="img/Riyad.jpg" class="col"></a>
                                                        <span><a href="#">UserName</a></span>
                                                    </div>
                                                    <div class="rp col">
                                                        <span>sdfwg</span>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                </section>

            </div>
        </div>

{% endblock %}